.latest_work {
    padding: 30px 0;
    overflow: hidden;
}

.latest_work .latest_work_title {
    text-align: start;
}

.newWorks .latest_work_title h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    color: #ed7f1e;
    margin: 10px 0;
}

.latest_work .row {
    justify-content: center;
}

.latest_work .single_work {
    margin: 20px 0;
    border-radius: 5px;
    padding: 40px;
    border: 1px solid #e9e9e9;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}

.latest_work .single_work:hover {
    border-color: #ff6600;
}

.latest_work .single_work::after {
    position: absolute;
    content: "";
    left: -10%;
    top: -30%;
    height: 250px;
    width: 250px;
    filter: blur(50px);
    background: #ff6600;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.latest_work .single_work:hover::after {
    opacity: 0.6;

}

.single_work .thumbnail {
    overflow: hidden;
    display: block;
    max-height: max-content;
    margin-bottom: 30px;
    border-radius: 5px 5px 2px 2px;
    height: 200px;
    width: 100%;
}

.single_work .thumbnail img {
    border-radius: 5px 5px 2px 2px;
    border: 0;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

.latest_work_title .prevButton {
    margin: 10px 0;
    text-align: center;

}

.latest_work .content-wrapper a {
    border: 1px solid #e9e9e9;
    display: flex;
    max-width: max-content;
    letter-spacing: 0.05em;
    min-width: max-content;
    text-transform: uppercase;
    transition: 0.4s;
    border-radius: 2px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 28px;
    color: #0c0a0a;
}

.latest_work .prevButton button {
    cursor: pointer;
    color: #e67118 !important;
    border: 2px solid #e67118;
    display: inline-block;
    padding: 8px 15px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    background: none;
    border-radius: 40px;
}

.content-wrapper .title {
    font-size: 24px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199.99px) {

    .latest_work .single_work {
        padding: 30px;
    }

    .single_work .thumbnail img {
        transition: 1.3s;
        max-height: max-content;
        width: 100%;
    }

    .single_work .content-wrapper .title {
        font-size: 18px;
    }

    .single_work .content-wrapper a {
        padding: 15px 28px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 991.99px) {
    .latest_work .latest_work_title h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .latest_work .single_work {
        padding: 40px;
    }

    .single_work .thumbnail img {
        transition: 1.3s;
        max-height: max-content;
        width: 100%;
    }

    .latest_work .content-wrapper .title {
        font-size: 18px;
    }

    .latest_work .content-wrapper a {
        padding: 15px 28px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 767.99px) {
    .latest_work .latest_work_title h2 {
        font-size: 35px;
        line-height: 55px;
    }

    .latest_work .single_work {
        padding: 15px;
    }

    .latest_work .content-wrapper .title {
        font-size: 20px;
    }

    .latest_work .content-wrapper a {
        padding: 15px 28px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 575.99px) {
    .latest_work .latest_work_title h2 {
        font-size: 30px;
        line-height: 55px;
    }

    .latest_work .latest_work_title {
        text-align: center;
    }

    .latest_work .single_work {
        padding: 10px;
    }

    .latest_work .single_work .thumbnail {
        height: 250px;
    }

    .latest_work .content-wrapper .title {
        font-size: 20px;
    }

    .latest_work .content-wrapper a {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 374.99px) {
    .latest_work .single_work {
        padding: 10px;
    }

    .latest_work .single_work .thumbnail {
        height: 180px;
    }

    .latest_work .single_work .thumbnail img {
        object-fit: cover;
    }
}