#referance {
    background-color: #dbdbdb;
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}

.referance-content {
    margin-bottom: 40px;
}

.referance-content h2 {
    font-size: 32px;
    color: #ED7F1E;;
    margin: 0;
    line-height: 48px;
}

.referance-carousel .owl-item {
    background-color: #fff;
    border-radius: 5px !important;
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#referance .owl-stage {
    padding-left: 0 !important;
}

.referance-carousel .owl-item .item {
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.referance-carousel .owl-item .item a {
    height: 100%;
    width: 100%;
    display: block;
}

.referance-carousel .owl-item .item img {
    width: 100%;
    height: 100%;
    border-radius: 1px;

}

#referance .referance-carousel .owl-nav .owl-next {
    top: -60%;
    bottom: auto;
    left: auto;
    position: absolute;
    right: 0%;
    width: 45px;
    height: 45px;
    color: #000;
    background-color: #fff !important;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#referance .referance-carousel .owl-nav .owl-next span,
#referance .referance-carousel .owl-nav .owl-prev span {
    display: none;
}

#referance .referance-carousel .owl-nav .owl-prev {
    top: -60%;
    bottom: auto;
    left: auto;
    position: absolute;
    right: 60px;
    width: 45px;
    height: 45px;
    color: #000;
    background-color: #fff !important;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#referance .referance-carousel .owl-nav .owl-prev::before {
    content: '';
    background: url("../assets/slider-arrow.svg") center/contain no-repeat !important;
    position: absolute;
    width: 14px;
    height: 10px;
    transform-style: preserve-3d;
    transform: rotateX(0)rotateY(180deg)rotate(0);
}

#referance .referance-carousel .owl-nav .owl-next::after {
    content: '';
    background: url("../assets/slider-arrow.svg") center/contain no-repeat !important;
    position: absolute;
    width: 14px;
    height: 10px;
}

#referance .owl-theme .owl-dots .owl-dot span {
    background-color: #E7E7E7;
    width: 15px;
    height: 15px;
}

#referance .owl-theme .owl-dots .owl-dot.active span {
    background-color: #ed7f1e;
}


@media only screen and (max-width:991.99px) {

    /* !referance */
    .referance-content {
        margin-bottom: 80px;
        text-align: center;
    }
}

@media only screen and (max-width:767.99px) {

    /* !referance */
    .referance-content h2 {
        font-size: 24px;
    }

    #referance .referance-carousel .owl-nav .owl-next {
        top: -50%;
    }

    #referance .referance-carousel .owl-nav .owl-prev {
        top: -50%;
    }
}

@media only screen and (max-width:575.99px) {

    /* !referance */
    #referance {
        padding: 30px 0;
    }

    #referance .owl-stage {
        height: 300px;
    }

    .referance-carousel .owl-item {
        height: 200px !important;
    }

    .referance-carousel .owl-item .item {
        height: 200px !important;
    }

    .referance-content h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .referance-carousel .owl-item .item img {
        object-fit: cover;
    }

    #referance .referance-carousel .owl-nav .owl-next,
    #referance .referance-carousel .owl-nav .owl-prev {
        top: -20%;
    }
}

@media only screen and (max-width:344.99px) {
    #referance .owl-stage {
        height: 250px;
    }
    #referance .referance-carousel .owl-nav .owl-next,
    #referance .referance-carousel .owl-nav .owl-prev {
        top: -22%;
    }
    .referance-carousel .owl-item {
        height: 200px !important;
    }

    .referance-carousel .owl-item .item {
        height: 200px !important;
    }

}