.write-to-us {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.712) 9%, rgba(0, 0, 0, 0.712) 44%, rgba(0, 0, 0, 0.712)  54%, rgba(0, 0, 0, 0.712) 100%, rgba(0, 0, 0, 0.712) 100%), url("../assets/wtite-to-us.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
}

.write-to-us .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.write-to-us .main-box .vibration_img {
    width: 140px;
    height: 140px;
    animation: playWhatsap 2s ease infinite;
    border-radius: 50%;
}

.main-box .vibration_img a {
    width: 100%;
    height: 100%;
}

.main-box .vibration_img a img {
    width: 100%;
    height: 100%;

}

@keyframes playWhatsap {
    0% {
        transform: scale(1);
    }

    15% {
        box-shadow: 0 0 0 5px #ed7f1ea1;
    }

    25% {
        box-shadow: 0 0 0 10px rgba(214, 105, 10, 0.349), 0 0 0 20px #e97007c7;
    }

    50% {
        box-shadow: 0 0 0 15px rgb(216, 104, 0), 0 0 0 30px rgb(212, 149, 14);
    }
}

.main-box .chat {
    margin-left: 9%;
}

.main-box .chat h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.main-box .chat h3 {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}

.main-box .chat a {
    text-align: center;
    color: #fff;
    padding: 7px 14px;
    border: 1px solid #fff;
    transition: .5s;
    border-radius: 5px;
}

.main-box .chat a:hover {
    background-color: #ed7f1e;
    border-color: #ed7f1e;
}

@media only screen and (max-width:1199.99px) {
    .write-to-us {
        padding: 38px 0px;
    }

    .write-to-us .main-box .chat {
        margin-left: 7%;
    }

    .main-box .chat h2 {
        font-size: 28px;

    }

    .main-box .chat h3 {
        font-size: 23px;
    }

    .main-box .chat a {
        font-size: 16px;
    }
}

@media only screen and (max-width:767.99px) {
    .write-to-us .main-box .vibration_img {
        display: none;
    }

    .main-box .chat {
        margin-left: 0;
        text-align: center;
    }

    .main-box .chat h2 {
        font-size: 24px;

    }

    .main-box .chat h3 {
        font-size: 24px;

    }

    .main-box .chat a {
        margin: 0 auto;
    }
}

@media only screen and (max-width:575.99px) {
    .main-box .chat h2 {
        font-size: 24px;
    }

    .main-box .chat h3 {
        font-size: 16px;

    }

    .main-box .chat a {
        margin: 0 auto;
    }
}