@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

.row {
  align-items: center;
  flex-basis: 100%;
}